.button {
  font-size: 16px;
  white-space: nowrap;
  width: 184px;
  border: solid 1px;
  border-radius: 4px;
  padding: 12px;

  &--orange {
    background-color: #F2994A;
    border-color: #E0812C;
    color: #FFFFFF;
  }

  &--blue {
    background-color: #2F80ED;
    border-color: #2F80ED;
    color: #FFFFFF;
  }

  &--outline {
    background-color: #FFFFFF;
    border-color: #2F80ED;
    color: #2F80ED;
  }

  &--link {
    background-color: transparent;
    border-color: transparent;
    color: #2F80ED;
    width: unset;
    padding: 0;
  }

  &--block {
    width: 100%;
  }

  &:disabled {
    opacity: .6;
    cursor: default;
  }
}

// RESPONSIVE
@media (max-width: 991px) {
  .button {
    &--mobile {
      font-size: 12px;
      padding: 6px;
      width: 108px;
    }

    &--link {
      width: unset;
    }
  }
}
