<div class="lista">
  <div class="container">
    <div class="lista__title">Listagem de agendamento</div>
    <div class="lista__tableWrapper">
      <table class="lista__table">
        <thead>
          <tr>
            <th scope="col">Redes sociais</th>
            <th scope="col">Mídia</th>
            <th scope="col">Texto</th>
            <th scope="col">Data</th>
            <th scope="col">Ações</th>
            <th scope="col">
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of schedulesList$ | async">
            <td class="text-center">
              <div class="lista__socialIcons">
                <span class="lista__socialIcon" *ngFor="let social of item.socialNetworks" [ngStyle]="{'background-color': social.color}">
                  <i [class]="'fab fa-' + social.icon"></i>
                </span>
              </div>
            </td>
            <td class="text-center">
              <div class="lista__mediaImage">
                <img [src]="item.media" alt="Imagem do post">
              </div>
            </td>
            <td>{{ item.text }}</td>
            <td>{{ item.publication_date | date: 'dd/MM/yyyy, HH:mm' }}</td>
            <td class="text-center">Preview</td>
            <td>
              <i class="lista_statusIcon" [ngStyle]="{'background-color': item.status.color}"></i>
              {{ item.status.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
