<div class="fileUpload" appDragNDrop (onFileDropped)="uploadFile($event)" (showError)="this.fileError = $event">
<!-- <div class="fileUpload" appDragDrop (onFileDropped)="uploadFile($event)"> -->
  <div class="fileUpload__message" *ngIf="!fileSelected">
    <i class="fileUpload__icon fas fa-cloud-upload-alt"></i>
    Arraste e solte uma imagem aqui ou clique no botão abaixo
  </div>
  <app-button text="Pesquisar Imagens" colorStyle="outline" (action)="fileInput.click()" *ngIf="!fileSelected"></app-button>
  <div class="fileUpload__error" *ngIf="fileError">Tipo de arquivo inválido</div>
  <div class="fileUpload__selected" *ngIf="fileSelected">
    <span class="fileUpload__name">
      {{ file }}
    </span>
    <button class="fileUpload__delete" type="button" (click)="deleteFile()">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files[0])">
</div>
