.agendamento {
  padding: 20px 0 0;

  &__panel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    height: 100%;
  }

  &__panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    border-bottom: solid 1px #E0E0E0;
  }

  &__panelBody {
    flex-grow: 1;
  }

  &__panelHeader, &__panelBody {
    padding: 10px 16px;
  }

  &__socialNetworks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__datePicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__textarea {
    position: relative;
  }

  &__text {
    width: 100%;
    height: 150px;
    resize: none;
    border: solid 1px #949494;
    border-radius: 4px;
    padding: 6px;
  }

  &__postVisualization {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
  }

  &__postPreviewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
  }

  &__closeVisualization {
    font-size: 18px;
  }

  &__footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 10px 0;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  &__modalOpenned {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      color: #4F4F4F;
      margin: 5px 0 20px;
    }

    app-button {
      margin-bottom: 50px;
    }
  }
}

// RESPONSIVE
@media (min-width: 992px) {
  .agendamento {
    padding: 40px 0 0;

    &__postVisualization {
      position: relative;
      top: unset;
      right: unset;
      left: unset;
      bottom: unset;
      z-index: unset;
    }

    &__footer {
      position: absolute;
    }
  }
}
