<div class="agendamento">
  <div class="container">
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="container__row">
        <div class="container__halfCol">
          <div class="container__row">
            <!-- Painel de redes sociais -->
            <div class="container__halfCol">
              <div class="agendamento__panel">
                <div class="agendamento__panelHeader">
                  Redes sociais
                </div>
                <div class="agendamento__panelBody">
                  <div class="agendamento__socialNetworks">
                    <app-custom-checkbox
                      *ngFor="let item of socialNetworks$ | async"
                      [icon]="item.icon"
                      [disabled]="item.status == 'disabled' ? true : false"
                      [checked]="selectedSocialNetworks.includes(item.id)"
                      (change)="checkboxChanged($event.target.checked, item.id)"
                    ></app-custom-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <!-- Painel de seleção de data e hora -->
            <div class="container__halfCol">
              <div class="agendamento__panel">
                <div class="agendamento__panelHeader">
                  Data de publicação
                </div>
                <div class="agendamento__panelBody">
                  <div class="agendamento__datePicker">
                    <div class="agendamento__date">
                      <i class="fas fa-calendar-alt"></i>
                      <dp-date-picker
                        [config]="postDateConfig"
                        [placeholder]="selectedPostDate ? (selectedPostDate | date: 'dd/MM/yyyy') : 'DD/MM'"
                        [mode]="'day'"
                        (onSelect)="datePickerChanged($event)"
                      ></dp-date-picker>
                    </div>
                    <div class="agendamento__time">
                      <i class="fas fa-clock"></i>
                      <dp-date-picker
                        [config]="postTimeConfig"
                        [placeholder]="selectedPostTime ? (selectedPostTime | date: 'HH:mm') : 'HH/MM'"
                        [mode]="'time'"
                        (onSelect)="timePickerChanged($event)"
                      ></dp-date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Painel de insersão de texto com emoji -->
            <div class="container__fullCol">
              <div class="agendamento__panel">
                <div class="agendamento__panelHeader">
                  Texto do post
                </div>
                <div class="agendamento__panelBody">
                  <div class="agendamento__textarea">
                    <app-emoji-picker (onSelect)="emojiSelected($event)"></app-emoji-picker>
                    <textarea class="agendamento__text" formControlName="text" placeholder="Aqui vai o texto descritivo desse post"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- Painel de upload de arquivo -->
            <div class="container__fullCol mb-0">
              <div class="agendamento__panel">
                <div class="agendamento__panelHeader">
                  Upload de imagem
                </div>
                <div class="agendamento__panelBody">
                  <app-file-upload [fileSelected]="imageFromDraft" (fileUploaded)="onfileUpload($event)"></app-file-upload>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container__halfCol">
          <!-- Painel de visualização do post -->
          <div class="agendamento__panel" *ngIf="!isMobile()">
            <div class="agendamento__panelHeader">
              Visualização do post
              <button class="agendamento__closeVisualization" type="button" (click)="togglePostVisualization()" *ngIf="isMobile()">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="agendamento__panelBody">
              <div class="agendamento__postPreviewWrapper">
                <app-post-preview [socialData$]="socialData$"></app-post-preview>
              </div>
            </div>
          </div>
          <app-button text="Visualizar post" colorStyle="orange" [block]="true" (action)="openModal('postVisualizationModal')" *ngIf="isMobile()"></app-button>
        </div>
      </div>
    </form>
  </div>
  <div class="agendamento__footer">
    <div class="container">
      <div class="agendamento__actions">
        <app-button text="Cancelar" colorStyle="link" [mobile]="true" (click)="scheduleForm.touched ? openModal('cancelModal') : goToHome()"></app-button>
        <app-button text="Salvar rascunho" colorStyle="outline" [mobile]="true" (click)="onSaveDraft()" [disabled]="scheduleForm.invalid"></app-button>
        <app-button text="Agendar" colorStyle="blue" [mobile]="true" (click)="onSubmit()" [disabled]="scheduleForm.invalid"></app-button>
      </div>
    </div>
  </div>
</div>

<!-- Modais -->
<app-modal id="postVisualizationModal" title="Visualização do post" *ngIf="isMobile()">
  <app-post-preview [socialData$]="socialData$"></app-post-preview>
</app-modal>
<app-modal id="cancelModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-cancel.png" alt="Agendado com Sucesso!">
    <span>Seu agendamento não foi salvo, se você cancelar perderá todos os dados. Deseja continuar?</span>
    <app-button text="Sim" colorStyle="blue" (click)="closeModal('cancelModal'); goToHome()"></app-button>
  </div>
</app-modal>
<app-modal id="draftModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-success.png" alt="Agendado com Sucesso!">
    <span>Rascunho salvo com sucesso!</span>
    <app-button text="OK" colorStyle="blue" (click)="closeModal('draftModal')"></app-button>
  </div>
</app-modal>
<app-modal id="sucessModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-success.png" alt="Agendado com Sucesso!">
    <span>Agendado com sucesso!</span>
    <app-button text="OK" colorStyle="blue" (click)="closeModal('sucessModal'); goToList()"></app-button>
  </div>
</app-modal>
