<div class="agendamento">
  <div class="container">
    <form [formGroup]="scheduleForm">
      <div class="container__row">
        <div class="container__halfCol">
          <div class="container__row">
            <div class="container__halfCol">
              <app-field-social-networks (onSelect)="getSocialNetworkVal($event)"></app-field-social-networks>
            </div>
            <div class="container__halfCol">
              <app-field-date-time (onSelect)="getDateTimeVal($event)"></app-field-date-time>
            </div>
            <div class="container__fullCol">
              <app-field-text-area (onInput)="getTextVal($event)"></app-field-text-area>
            </div>
            <div class="container__fullCol mb-0">
              <app-field-image-upload (onSelect)="getFileVal($event)"></app-field-image-upload>
            </div>
          </div>
        </div>
        <div class="container__halfCol">
          <app-field-post-preview  [socialData$]="socialData$" *ngIf="!isMobile()"></app-field-post-preview>
          <app-button text="Visualizar post" colorStyle="orange" [block]="true" (action)="triggerModal('postVisualizationModal', 'open')" *ngIf="isMobile()"></app-button>
        </div>
      </div>
    </form>
  </div>
  <div class="agendamento__footer">
    <div class="container">
      <div class="agendamento__actions">
        <app-button text="Cancelar" colorStyle="link" [mobile]="true" (click)="cancel()"></app-button>
        <app-button text="Salvar rascunho" colorStyle="outline" [mobile]="true" (click)="save()" [disabled]="scheduleForm.invalid"></app-button>
        <app-button text="Agendar" colorStyle="blue" [mobile]="true" (click)="submit()" [disabled]="scheduleForm.invalid"></app-button>
      </div>
    </div>
  </div>
</div>


<app-modal id="postVisualizationModal" title="Visualização do post" *ngIf="isMobile()">
  <app-post-preview [socialData$]="socialData$"></app-post-preview>
</app-modal>
<app-modal id="cancelModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-cancel.png" alt="Agendado com Sucesso!">
    <span>Seu agendamento não foi salvo, se você cancelar perderá todos os dados. Deseja continuar?</span>
    <app-button text="Sim" colorStyle="blue" (click)="triggerModal('cancelModal', 'close'); clearDraft(); goTo('home')"></app-button>
  </div>
</app-modal>
<app-modal id="draftModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-success.png" alt="Agendado com Sucesso!">
    <span>Rascunho salvo com sucesso!</span>
    <app-button text="OK" colorStyle="blue" (click)="triggerModal('draftModal', 'close')"></app-button>
  </div>
</app-modal>
<app-modal id="sucessModal">
  <div class="agendamento__modalOpenned">
    <img src="assets/images/post-success.png" alt="Agendado com Sucesso!">
    <span>Agendado com sucesso!</span>
    <app-button text="OK" colorStyle="blue" (click)="triggerModal('sucessModal', 'close'); goTo('lista')"></app-button>
  </div>
</app-modal>
