@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('../node_modules/normalize.css/normalize.css');
@import '~@ctrl/ngx-emoji-mart/picker';

* {
  box-sizing: border-box;
}

a, button, input, textarea {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px #F2994A;
  }
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #E5E5E5;
  color: #4F4F4F;

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    app-home, app-agendamento, app-lista, app-file-upload, app-post-preview {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
    }
  }

  &.modal--open {
    overflow: hidden;
  }
}

a {
  color: #1661F3;
  transition: .6s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  &__row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__fullCol {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  &__halfCol {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

// HELPERS
.mb-0 {
  margin-bottom: 0 !important;
}

// COMPONENTES EXTERNOS
.agendamento__datePicker {
  .agendamento__date, .agendamento__time {
    position: relative;
    width: 46%;

    .svg-inline--fa {
      position: absolute;
      left: 8px;
      top: calc(50% - 7px);
      z-index: 10;
      color: #4F4F4F;
    }
  }

  dp-date-picker {
    max-width: 100%;

    input {
      border: solid 1px #949494;
      border-radius: 4px;
      color: #828282;
      max-width: 100%;
      padding: 10px 16px 10px 30px;
    }
  }
}

.emoji-mart {
  margin-top: 30px;

  .emoji-mart-emoji, .emoji-mart-anchor {
    cursor: pointer;
  }

  .emoji-mart-search {
    display: none;
  }
}

// RESPONSIVE
@media (min-width: 992px) {
  .container {
    padding: 0 40px;

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }

    &__fullCol {
      margin-bottom: 40px;
    }

    &__halfCol {
      width: 50%;
      margin-bottom: 40px;
    }
  }
}
